.fishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 5px solid;
    padding: 18px;
    border-radius: 10px;
}

.fish {
    flex-basis: 16%;
}

.fish__image {
    max-height: 10rem;
}
