.tips {
    flex: 1;
    background-color: lightgrey; 
    margin-left: 3rem;
    border: 5px solid;
    padding: 20px;
    border-radius: 11px;
    margin-right: 3rem;
}

.header--tips {
    text-align: center;
}
